<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div id="indicator"></div>
    <div id="page">
      <style>
        .title {
          padding: 0%;
          color: #f78e66;
          font-size: 25px;
          font-weight: bold;
          text-align: center;
          background: #101417;
          display: grid;
        }
      </style>
      <!-- header -->
      {% include header.html %}
      <!-- nav -->
      {% include nav.html %}
      <!-- page content -->
      <main class="content">
        <p class="title">
          {{page.title}}
        </p>
        {{content}}
      </main>

      <!-- footer -->
      {% include footer.html %}
    </div>
  </body>
</html>
